<div class="flex justify-center bg-white pt-[32px] lg:py-0">
  <a href="/">
    <img src="https://bnb.bt/wp-content/uploads/2024/04/BNB-Primary-Logo-no-border-space.svg"
         alt="bnb logo" height="60" width="125" class="lg:h-[100px] lg:w-[215px]">
  </a>
</div>
