<div id="onboard-step9-content" class="hidden" data-controller="" data-stepper-target="">
  <p class="text-[18px] font-bold mb-[16px]">BNB-PO-002-Privacy-Policy </p>
  <ol class="list-decimal ml-3">
    <li>
      The Bhutan National Bank gathers personal information (PII) from customers and employees for
various purposes, such as account opening, loan approval, identity verification, customer
response, and product or service updates.
    </li>
    <li class="my-[12px]">
      The bank does not disclose customer and employee personal information (PII) with third parties
or transborder sharing. However, it may share data with regulators, governments, and law
enforcement agencies. Other entities may share PII data, and the bank must comply with
applicable laws and guidelines.
    </li>
    <li>
      The bank takes steps to protect personal details against unauthorized disclosure.
    </li>
    <li class="my-[12px]">
      . Our website and other online platforms use cookies and related technologies to track visitor
information, make the platform easier, tailor products and services, collect user data, and
analyze server logs. Some cookies are from third-party companies for web analytics and
intelligence
    </li>
    <li>
      The bank protects personal data by preventing unauthorized access, but cannot guarantee data
security or website entry. Users should use secure online platforms, passwords, and secure
browsers, and report any unauthorized use to the bank immediately.
    </li>
    <li class="my-[12px]">
      Our website may link to third-party websites, but we are not responsible for their privacy
practices and encourage users to learn about their policies, even if co-branded with our logo or
trademark.
    </li>
    <li>
      The policy and website use are governed by Bhutanese laws and bank regulations, with the bank
acting as a Data Controller, ensuring consent before access
    </li>
    <li class="my-[12px]">
      Bank upholds privacy by providing various rights such as access, consent withdrawal, objecting
to data processing, rectification, erasure, data portability, processing restriction, automated
decisionmaking protection, and complaint lodgment.
    </li>
    <li>
      Our office securely stores personal information for at least 10 years, with the information
destroyed after. We do not share, sell, or rent PII, but may store it with third parties. Third
parties must respect data security and treat it lawfully.
    </li>
    <li class="my-[12px]">
      The detailed Policy can be found from BNBL website (privacy_policy.pdf (bnb.bt)
    </li>
  </ol>

  <div class="flex items-center space-x-[8px] mt-[24px]">
    <input 
    type="checkbox" 
    id="privacy-check" 
    name="privacy-check" 
    value="1"
    class="h-[16px] w-[16px] cursor-pointer bg-white border border-gray-300 rounded checked:bg-[rgb(37,45,96)] 
    checked:text-white checked:border-transparent focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-[rgb(37,45,96)]"
  />
    <label for="privacy-check">
      I hereby confirm that I have read privacy policy of
  Bhutan National Bank Limited. 
    </label>
  </div>
  <div class="lg:flex space-x-[16px] justify-end mt-[28px]">
    <button
      id="onboard-step9-previous"
      class="btn-blue-bnb lg:flex items-center hidden"
      type="button"
      data-action="click->stepper#previousStep">
      <i class="material-symbols-outlined !text-[20px] text-white mr-[8px]">chevron_left</i>
      Previous
    </button>
    <button
      id="onboard-step9-previous"
      class="btn-blue-bnb flex items-center"
      type="submit">
      <i class="material-symbols-outlined !text-[20px] text-white mr-[8px] ml-[2px]">person</i>
      Create Account
    </button>
  </div>
</div>
